body {
  // Body background (far away)
  --body-background: repeat url("/images/light_body_pattern.svg");

  // Main background (near)
  --main-background-color: rgba(255,255,255,0.4);

  --main-color: lightblue;
  --accent-color: #FEC601;
  --text-color: black;
  --link-color: unset;
  --visited-color: unset;
}

@media (prefers-color-scheme: dark) {
  body {
    --body-background: url("/images/dark_body_pattern.svg");
		--main-background-color: #3c3c3c;
    --main-color: #2364AA;
    --accent-color: #FEC601;
    --text-color: white;
    --link-color: lightblue;
    --visited-color: #ac78ff;
  }
  padding: 0;
}

// Style links in general
a {
  &:link {
    color: var(--link-color);
  }

  &:visited {
    color: var(--visited-color);
  }
}

body {
  margin: 0;
  color: var(--text-color);
  background: var(--body-background);
  font-family: 'Source Sans Pro', 'Sourcing Sans Pro', 'Sourcing Sans Pro3', 'Noto Sans', 'DejaVu Sans', 'STIX Two Math', Symbola, 'Noto Sans CJK TC Regular', sans-serif;
}

header {
  --header-height: 3em;
  background-color: transparent; 
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
	padding: 0 4ch;

	// Locator in the left
  p.locator {
    font-family: monospace;
    font-weight: bold;
    font-size: 1.5em;
    line-height: calc( ( var(--header-height) - 1.5em ) / 2 );

    a:link {
      color: var(--text-color);
      text-decoration: none;
    }

    a:visited {
      color: var(--text-color);
    }
  }

	nav > ul {
		margin: 0;
		padding: 0;
		height: 100%;

		& > ol {
			padding: 0;
			display: inline-block;
			margin-left: 0.4ch;
			line-height: 100%;
			height: 100%;
			min-width: 6ch;
		
			& > a {
				display: inline-block;
				vertical-align: middle;
				text-align: center;
				height: 100%;
				width: 100%;
				padding: 0 0.5ch;
				line-height: var(--header-height);

				&:hover {
					background-color: rgba(0, 0, 0, 0.2);
				}
			}
		}

		& > ol:first-child {
			margin-left: unset;
		}
	}
}

main {
	--main-width: 120ch;

	// Estimation of main width using max() which is not yet supported by some browsers
	--main-width-est: max(var(--main-width), 100vw);
	
	--vertical-padding: 1.5em;
	--horizontal-padding: 5ch;

	max-width: 100%;
	width: var(--main-width);
	
	padding: var(--vertical-padding) var(--horizontal-padding);
	margin: 0 auto;

	border-radius: 1ch;

	background-color: var(--main-background-color);
}


