section.bio_intro {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;

	& > * {
		display: inline-block;
	}

	picture.profile_picture {
		display: inline-block;
		width: 40%;
		--border-width: 0.5ch;
		--focus-multiplier: 1.5;
		padding: calc(var(--border-width) * (var(--focus-multiplier) - 1));

		& > img {
			width: 100%;
			border-radius: 100%;
 			border: var(--border-width) solid var(--accent-color);
		}

		&:hover {
			padding: 0;
			& > img {
				width: 100%;
				border-width: calc(var(--focus-multiplier) * var(--border-width));
			}
		}
	}

	div.description {
		width: 50%;
	}

	.short-bio {
		font-weight: bold;
	}
}
