<!DOCTYPE HTML>
<html lang="{{ lang }}">
<head>
    {% block head %}
    <meta charset="utf-8"/>
    <title>{% block title %}{% endblock title %} | {{ config.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="{% block description %}{% endblock description %}"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="keyword1, keyword2, keyword3"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="language" content="{{ lang }}"/>
    <meta name="author" content="{{ config.extra.author }}"/>
    <meta name="referrer" content="same-origin"/>
    <meta name="theme-color" content="{{ config.extra.main_color }}"/>
    <link rel="stylesheet" href="{{ get_url(path='base.css') }}"/>
    <link rel="icon" href="{{ get_url(path='images/favicon.ico') }}">
    {% endblock head %}
</head>

<body>
    <header>
        <p class="locator">
            <a class="website_name" href="{{ config.base_url }}"><span class="website_title_domain">{{ config.extra.ws_domain }}</span><span class="website_title_dottld">.{{ config.extra.ws_tld }}</span></a><span class="website_title_slash">/</span><span class="website_title_section">{%block ws_section%}{%endblock ws_section%}</span><span class="website_title_tilde">~</span>
        </p>
				<nav hidden>
					<ul>
						<ol><a href="{{ get_url(path='@/blog/_index.md') }}">/blog</a></ol>
						<ol><a href="{{ get_url(path='@/projects/_index.md') }}">/projects</a></ol>
						<ol><a href="{{ get_url(path='@') }}">/about</a></ol>
					</ul>
				</nav>
    </header>
    <main>
        {% block main %}
        {% endblock main %}
    </main>
</body>

</html>
