{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ get_url(path='bio.css') }}"/>
{% endblock head %}
{% block main %}
<h1>Website In Construction</h2>
<h2>Technology in service of creation</h2>
<section class="bio_intro">
	
   	<picture class="profile_picture">
       	<source srcset="{{ get_url(path='images/profile_1024.webp') }} 1024w, {{ get_url(path='images/profile_2048.webp')}} 2048w, {{ get_url(path='images/profile_3710.webp') }} 3710w" type="image/webp"/>
       	<source srcset="{{ get_url(path='images/profile_1024.jpeg') }} 1024w, {{ get_url(path='images/profile_2048.jpeg')}} 2048w, {{ get_url(path='images/profile_3710.jpeg') }} 3710w" type="image/jpeg"/>
       	<img src="{{ get_url(path='images/profile_1024.jpeg') }}" alt="Profile picture of myself, Alexandre A. Bizri"/>
   	</picture>

    <div class="description">
        <h2 class="name">{% block name %}Alexandre A. Bizri{% endblock name %}</h2>
        <p class="short_bio">{% block short_bio %}{% endblock short_bio %}</p>
    </div>
</section>
{% endblock main %}
